.wrapper {
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  overflow: hidden;
  background-color: #f7f8fd;
  .canvas {
    border: 3px solid #ccc;
    position: absolute;
    left: calc(50% - 2880px);
    top: calc(50% - 1570px);
    width: 5760px;
    height: 3140px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAwIDIwMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxjaXJjbGUgZmlsbD0iI0Q2REJFQyIgY3g9IjEwMCIgY3k9IjEwMCIgcj0iMTAiPjwvY2lyY2xlPjwvZz48L3N2Zz4K);
    background-color: transparent;
    box-shadow: 0 0 50px #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
  }
  cursor: default;
  &.cursorDefault {
    cursor: default;
  }
  &.cursorPointer {
    cursor: pointer;
  }
  &.cursorxiexiangfa1 {
    cursor: url(../../../../assets/imgs/controls-xiexiangfa-opt1.svg), default;
  }
  &.cursorxiexiangfa2 {
    cursor: url(../../../../assets/imgs/controls-xiexiangfa-opt2.svg), default;
  }
  &.cursorxiexiangfa3 {
    cursor: url(../../../../assets/imgs/controls-xiexiangfa-opt3.svg), default;
  }
  &.cursorxiexiangfa4 {
    cursor: url(../../../../assets/imgs/controls-xiexiangfa-opt4.svg), default;
  }
  &.cursorxiexiangfa5 {
    cursor: url(../../../../assets/imgs/controls-xiexiangfa-opt5.svg), default;
  }
}
